  
* {
  font-family: sans-serif;
  color: black;
  background-color: #e8e8e8;
  box-sizing:border-box;
  text-align: center;

}
h2{
  color: black;
}

h3{
  color: black;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
   width: 40%;
  margin-right: 800px;
  gap: 10px ;
  
  padding: 20px;
  
}

.card {
  perspective: 750px;
  position: relative;
  min-height: 250px;
  width: 230px;
  

  
  
}

.front {
  height: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 15px 20px rgba(0,0,0, .15);


}
.back{
height: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 15px 20px rgba(0,0,0, .15);
  background-color: red;
}


.front {
  background-color: #c4b6b6;
  transform: rotateY(180deg);
  font-size:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  ;
}

.front-show {
    transform: rotateY(0);
}

.back-hide {
  transform: rotateY(-180deg);
}

button {
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    color:blue;
margin-left: 2px ;
}


time {
  display:flex;
  justify-content: center;
  font-size:30px;
  #timer {
    color: white;
  }
}

@media only screen and (max-width: 860px) {
  .card-container{
    display: grid;
    grid-template-columns: 1fr;
   
}
}
@media only screen and (min-width : 1550px) {
  .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
  }
}