* {
  font-family: sans-serif;
  color: white;
  background-color: #e8e8e8;
  box-sizing:border-box;
  text-align: center;

}
h2{
  color: black;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 100px;
}

.card {
  perspective: 750px;
  position: relative;
  min-height: 200px;
  width: 300px;
}

.front {
  height: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0, .15);


}
.back{
height: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0, .15);
  background-color: red;
}


.front {
  background-color: #c4b6b6;
  transform: rotateY(180deg);
  font-size:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.front-show {
    transform: rotateY(0);
}

.back-hide {
  transform: rotateY(-180deg);
}

button {
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    color:blue;
margin-left: 2px ;
}